{% extends "base.html" %}
{% block title %}Browse{% endblock %}

{% block main %}
<script>
    $(document).ready(function () {
        $('.search-box').on('click', '.search-btn', function (e) {
            e.preventDefault();
            searchStr = $('.search-bar').val()
            $.ajax(
            {
                type: "GET",
                url: "{{url_for('search')}}",
                data: { "query": search_term },
                success: function (response) {
                        $("#result").empty(); //remove whatever is there and append whatever is returned
                        $("#result").append(response.result) //append whatever you want to append
                }
            }
        )
        });

    });
</script>
<div class="container-fluid pt-4 mx-auto">
        <div class="search-box input-group w-50 mx-auto">
            <input type="text" class="search-bar form-control" placeholder="Search"/>
            <a href="#" class="search-btn btn btn-primary">
                <i class="bi bi-search"></i>
            </a>
        </div>
    <div class="container">
        <ul style="list-style-type: none;">
            <li class="pt-4">
                <div class="card">
                    <div class="card-header">
                       Product
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><s>product price</s>discount_price</h5>
                        <p class="card-text">product description loren ipsum</p>
                        <p class="card-text"><small class="text-muted">Sold By : Amazon</small></p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                        <a href="#" class="btn btn-primary">Add to Wishlist</a>
                    </div>
                </div>
            </li>
            {% for product in products %}
            <li class="pt-4">
                <div class="card">
                    <div class="card-header">
                        {{product['productName']}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><s>{{prices[product['productId']]}}</s> {{discounted_prices[product['productId']]}}</h5>
                        <p class="card-text">{{product['productDescription']}}</p>
                        <p class="card-text"><small class="text-muted">Sold By : {{ sellers[product['productId']] }} </small></p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                        <a href="#" class="btn btn-primary">Add to Wishlist</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}