{% extends "base.html" %}
{% block title %}Wishlist{% endblock %}

{% block main %}
<script>
    $(document).ready(function () {
        function incrementValue(e) {
            e.preventDefault();
            var fieldName = $(e.target).data('field');
            var parent = $(e.target).closest('div');
            var currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);

            if (!isNaN(currentVal)) {
                parent.find('input[name=' + fieldName + ']').val(currentVal + 1);
            } else {
                parent.find('input[name=' + fieldName + ']').val(0);
            }
        }

        function decrementValue(e) {
            e.preventDefault();
            var fieldName = $(e.target).data('field');
            var parent = $(e.target).closest('div');
            var currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);

            if (!isNaN(currentVal) && currentVal > 1) {
                parent.find('input[name=' + fieldName + ']').val(currentVal - 1);
            } else {
                parent.find('input[name=' + fieldName + ']').val(1);
            }
        }

        $('.input-group').on('click', '.button-plus', function (e) {
            incrementValue(e);
        });

        $('.input-group').on('click', '.button-minus', function (e) {
            decrementValue(e);
        });

    });
</script>

<div class="cart container-fluid">
    <div class="cart_header container">
        <p class="display-3 pt-4 text-center">Your Cart</h3>
    </div>
    <div class="cart_cont container">
        <ul style="list-style-type: none;">
            {% for product in products %}
            <li class="pt-4">
                <div class="card">
                    <div class="card-header">
                        {{product['productName']}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><s>{{prices[product['productId']]}}</s>
                            {{discounted_prices[product['productId']]}}</h5>
                        <p class="card-text">{{product['productDescription']}}</p>
                        <div class="input-group">
                            <input type="button" value="-" class="button-minus border rounded-circle  icon-shape mx-1 "
                                data-field="quantity" style="width: 2rem; height: 2rem;">
                            <input type="number" min="1" value="1" name="quantity"
                                class="quantity-field border-1 text-center mx-1" style="width: 4rem; height: 2rem;">
                            <input type="button" value="+" class="button-plus border rounded-circle icon-shape ml-1 "
                                data-field="quantity" style="width: 2rem; height: 2rem;">
                        </div>
                        <button class="remove-cart-btn btn-primary mt-1">Remove from Cart</button>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="d-grid mx-auto">
            <button class="checkout-btn btn-success btn-lg mx-auto ">Confirm and Place Order</button>
        </div>
    </div>
</div>
{% endblock %}