{% extends "base.html" %}
{% block title %}Cart{% endblock %}

{% block main %}
<script>
    $(document).ready(function () {
        function incrementValue(e) {
            e.e1.preventDefault();

            prodId = e.prodId;
            sellerId = e.sellerId;
            e = e.e1;
            var fieldName = $(e.target).data('field');
            var parent = $(e.target).closest('div');
            var currentVal = parseInt(parent.find(`input[name=${fieldName}]`).val(), 10);

            if (!isNaN(currentVal)) {
                parent.find('input[name=' + fieldName + ']').val(currentVal + 1);
                $.post("/user/cart", {
                        type: "Q",
                        prodId: prodId,
                        sellerId: sellerId,
                        newQ: currentVal + 1
                    },
                    function () {});

            } else {
                parent.find('input[name=' + fieldName + ']').val(0);
            }
        }

        function decrementValue(e) {
            e.e1.preventDefault();

            prodId = e.prodId;
            sellerId = e.sellerId;
            e = e.e1;
            var fieldName = $(e.target).data('field');
            var parent = $(e.target).closest('div');
            var currentVal = parseInt(parent.find(`input[name=${fieldName}]`).val(), 10);

            if (!isNaN(currentVal) && currentVal > 1) {
                parent.find('input[name=' + fieldName + ']').val(currentVal - 1);
                $.post("/user/cart", {
                        type: "Q",
                        prodId: prodId,
                        sellerId: sellerId,
                        newQ: currentVal - 1
                    },
                    function () {});
            } else {
                parent.find('input[name=' + fieldName + ']').val(1);
            }
        }

        $('.input-group').on('click', '.button-plus', function (e) {
            incrementValue({
                e1: e,
                prodId: e.target.name.split(',')[0],
                sellerId: e.target.name.split(',')[1]
            });
        });

        $('.input-group').on('click', '.button-minus', function (e) {
            decrementValue({
                e1: e,
                prodId: e.target.name.split(',')[0],
                sellerId: e.target.name.split(',')[1]
            });
        });
    });
</script>

<div class="cart container-fluid">
    <div class="cart_header container">
        <p class="display-3 pt-4 text-center">Your Cart</h3>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row">
        <div class="col"></div>
        <div class="col-4">
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        </div>
        <div class="col"></div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="cart_cont container">
        <ul style="list-style-type: none;">
            <!-- <li class="pt-4">
                <div class="card">
                    <div class="card-header">
                        Product
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><s>Hello</s>
                            Mello</h5>
                        <p class="card-text">abcde fghijkl mnop</p>
                        <div class="input-group">
                            <input type="button" name="4" value="-" class="button-minus border rounded-circle icon-shape mx-1 " data-field="quantity" style="width: 2rem; height: 2rem;">
                            <input type="number" min="1" value="1" name="quantity" class="quantity-field border-1 text-center mx-1" style="width: 4rem; height: 2rem;">
                            <input type="button" name="4" value="+" class="button-plus border rounded-circle icon-shape ml-1 " data-field="quantity" style="width: 2rem; height: 2rem;">
                        </div>
                        <button class="remove-cart-btn btn-primary mt-1" name="4">Remove from Cart</button>
                    </div>
                </div>
            </li> -->
            {% for product in products %}
            <li class="pt-4">
                <div class="card">
                    <div class="card-header">
                        {{product['productName']}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><s>₹ {{prices[product['productId']]}}</s> ₹
                            {{discounted_prices[product['productId']]}}</h5>
                        <p class="card-text">{{product['productDescription']}}</p>
                        <p class="card-text"><small class="text-muted">Sold By : {{ product['fullName'] }} </small></p>
                        <div class="input-group">
                            <input type="button" name="{{product['productId']}},{{product['sellerId']}}" value="-"
                                class="button-minus border rounded-circle  icon-shape mx-1 " data-field="quantity"
                                style="width: 2rem; height: 2rem;">
                            <input type="number" min="1" value="{{product['quantity']}}" name="quantity"
                                class="quantity-field border-1 text-center mx-1" style="width: 4rem; height: 2rem;">
                            <input type="button" name="{{product['productId']}},{{product['sellerId']}}" value="+"
                                class="button-plus border rounded-circle icon-shape ml-1 " data-field="quantity"
                                style="width: 2rem; height: 2rem;">
                        </div>
                        <form method="get" action="{{url_for('user.cart')}}">
                        <input type="hidden" name="prodId" value="{{product['productId']}}"/>
                        <input type="hidden" name="sellerId" value="{{product['sellerId']}}"/>
                        <button type="submit" class="remove-cart-btn btn-primary mt-1" >Remove from Cart</button>
                        </form>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="d-grid mx-auto">
            <a class="btn-success btn mx-auto" href={{url_for('order.checkout')}}>Confirm and Place Order</a>
        </div>
    </div>
</div>
{% endblock %}