{% extends "base.html" %}
{% block title %}Wishlist{% endblock %}

{% block main %}
<script>
    $(document).ready(function () {

    });
</script>
<div class="wishlist container-fluid">
    <div class="wishlist_header container">
        <p class="display-3 pt-4 text-center">Your Wishlist</h3>
    </div>
    <div id="sellers"></div>
    <div class="wishlist_cont container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <ul style="list-style-type: none;">
                    {% for product in products %}
                    <li class="pt-4">
                        <div class="card">
                            <div class="card-header">
                                {{ product['productName'] }}
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ product["productDescription"] }}</p>

                                <div class="d-flex justify-content-between pt-2">
                                    <form class="d-inline" method="get" action="{{url_for('user.showseller')}}">
                                        <input type="hidden" value="{{product['productId']}}" name="prodId" />
                                        <button type="submit" class="add-cart-btn btn-primary btn">
                                            <i class="bi bi-plus-circle pe-1"></i>
                                            Add to Cart
                                        </button>
                                    </form>

                                    <form class="d-inline" method="get" action="{{url_for('user.wishlist')}}">
                                        <input type="hidden" value="{{product['productId']}}" name="prodId" />
                                        <button type="submit" class="rem-wishlist-btn btn btn-danger btn-primary">
                                            <i class="bi bi-trash pe-1"></i>
                                            Remove from Wishlist
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
{% endblock %}